### Name: Ashish Bhagchandani 
### Github Username: ashishbhagchandani
### USC ID: 4690271015

# Homework 3
#### (Used one late day from six late days)

In [1]:
import os
import pandas as pd
import glob
import collections
import csv
import numpy as np
from sklearn.utils import resample

#### a) Download the AReM data from: https://archive.ics.uci.edu/ml/datasets/Activity+Recognition+system+based+on+Multisensor+data+fusion+\%28AReM\%29. The dataset contains 7 folders that represent seven types of activities. In each folder, there are multiple files each of which represents an instant of a human performing an activity.1 Each file containis 6 time series collected from activities of the same person, which are called avg rss12, var rss12, avg rss13, var rss13, vg rss23, and ar rss23. There are 88 instances in the dataset, each of which contains 6 time series and each time series has 480 consecutive values.

In [2]:
dataLinks = []
path = "../data/AReM"
dir_list = os.listdir(path)
for i in range(len(dir_list)):
    a = dir_list[i].split(".")
    if a[-1] == "pdf":
        continue
    pathd = f"../data/AReM/{dir_list[i]}"
    dir_listd = os.listdir(pathd)
    for j in range(len(dir_listd)):
        dataLinks.append(f"../data/AReM/{dir_list[i]}/{dir_listd[j]}")

### (b) Keep datasets 1 and 2 in folders bending1 and bending 2, as well as datasets 1, 2, and 3 in other folders as test data and other datasets as train data.

In [3]:
files = os.path.join("../data/AReM/bending1", "dataset*.csv")
files = glob.glob(files)
trainlinkbending1 = []
testlinkbending1 = []
for i in range(len(files)):
    a = files[i].split("\\")
    if a[-1][:-4] == "dataset1" or a[-1][:-4] == "dataset2":
        testlinkbending1.append(files[i])
    else:
        trainlinkbending1.append(files[i])
trainDatabending1 = pd.concat([pd.read_csv(f, skiprows=4) for f in trainlinkbending1], ignore_index=True)
testDatabending1 = pd.concat([pd.read_csv(f, skiprows=4) for f in testlinkbending1], ignore_index=True)
trainDatabending1

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,42.00,0.71,21.25,0.43,30.00,0.00
1,250,41.50,0.50,20.25,1.48,31.25,1.09
2,500,41.50,0.50,14.25,1.92,33.00,0.00
3,750,40.75,0.83,15.75,0.43,33.00,0.00
4,1000,40.00,0.71,20.00,2.74,32.75,0.43
...,...,...,...,...,...,...,...
2395,118750,44.25,0.83,16.25,1.30,24.00,0.00
2396,119000,44.00,0.71,11.00,1.00,24.00,0.00
2397,119250,44.25,0.43,10.25,1.30,22.75,0.83
2398,119500,43.75,0.43,7.33,2.87,21.50,0.50
2399,119750,44.50,0.50,3.00,1.22,21.50,0.50

In [4]:
files = os.path.join("../data/AReM/bending2", "dataset*.csv")
files = glob.glob(files)
trainlinkbending2 = []
testlinkbending2 = []
for i in range(len(files)):
    a = files[i].split("\\")
    if a[-1][:-4] == "dataset1" or a[-1][:-4] == "dataset2":
        testlinkbending2.append(files[i])
    else:
        trainlinkbending2.append(files[i])
trainDatabending2 = pd.concat([pd.read_csv(f, skiprows=4) for f in trainlinkbending2], ignore_index=True)
testDatabending2 = pd.concat([pd.read_csv(f, skiprows=4) for f in testlinkbending2], ignore_index=True)
trainDatabending2

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,24.50,0.50,15.50,0.87,26.0,2.74
1,250,25.00,0.00,13.50,3.64,33.5,2.60
2,500,26.00,0.71,14.25,3.90,18.5,13.61
3,750,24.33,0.47,15.67,2.62,25.5,3.64
4,1000,23.50,0.87,16.25,1.30,23.0,1.22
...,...,...,...,...,...,...,...
1915,118750,27.00,0.00,14.00,0.00,6.5,0.50
1916,119000,27.00,0.00,15.00,0.00,4.0,1.00
1917,119250,27.00,0.00,14.25,0.83,4.0,2.00
1918,119500,27.00,0.00,13.33,1.25,1.5,0.50
1919,119750,26.50,0.50,15.00,0.00,3.0,0.00

In [5]:
files = os.path.join("../data/AReM/cycling", "dataset*.csv")
files = glob.glob(files)
trainlinkcycling = []
testlinkcycling = []
for i in range(len(files)):
    a = files[i].split("\\")
    if a[-1][:-4] == "dataset1" or a[-1][:-4] == "dataset2" or a[-1][:-4] == "dataset3":
        testlinkcycling.append(files[i])
    else:
        trainlinkcycling.append(files[i])
trainDatacycling = pd.concat([pd.read_csv(f, skiprows=4,usecols=range(0,7)) for f in trainlinkcycling], ignore_index=True)
testDatacycling = pd.concat([pd.read_csv(f, skiprows=4,usecols=range(0,7)) for f in testlinkcycling], ignore_index=True)
testDatacycling

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,32.00,4.85,17.50,3.35,22.50,3.20
1,250,40.50,1.12,14.00,2.24,21.75,1.30
2,500,40.50,2.60,11.33,4.50,18.25,5.31
3,750,34.50,1.50,20.67,2.87,19.00,2.83
4,1000,34.50,1.50,21.25,3.27,18.25,4.38
...,...,...,...,...,...,...,...
1435,118750,36.50,1.50,15.67,9.74,20.50,2.87
1436,119000,36.00,0.00,23.25,1.30,17.00,1.63
1437,119250,32.33,5.56,15.33,3.77,14.50,4.82
1438,119500,32.00,5.87,12.25,2.17,14.50,2.87
1439,119750,38.00,2.12,16.50,3.20,11.25,5.80

In [6]:
files = os.path.join("../data/AReM/lying", "dataset*.csv")
files = glob.glob(files)
trainlinklying = []
testlinklying = []
for i in range(len(files)):
    a = files[i].split("\\")
    if a[-1][:-4] == "dataset1" or a[-1][:-4] == "dataset2" or a[-1][:-4] == "dataset3":
        testlinklying.append(files[i])
    else:
        trainlinklying.append(files[i])
trainDatalying = pd.concat([pd.read_csv(f, skiprows=4,usecols=range(0,7)) for f in trainlinklying], ignore_index=True)
testDatalying = pd.concat([pd.read_csv(f, skiprows=4,usecols=range(0,7)) for f in testlinklying], ignore_index=True)
trainDatalying

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,29.00,0.00,9.00,0.71,8.50,0.50
1,250,29.00,0.00,8.00,0.71,8.50,0.50
2,500,29.00,0.00,8.00,0.71,8.00,1.00
3,750,28.50,0.50,8.25,0.43,8.75,0.43
4,1000,29.00,0.00,8.75,1.09,9.00,0.00
...,...,...,...,...,...,...,...
5755,118750,41.50,0.50,10.67,0.47,14.00,0.82
5756,119000,41.50,0.50,10.80,0.40,14.40,0.80
5757,119250,41.75,0.43,10.00,0.00,13.67,0.94
5758,119500,42.00,0.00,9.40,0.49,14.00,1.10
5759,119750,41.75,0.43,9.00,0.00,14.33,0.47

In [7]:
files = os.path.join("../data/AReM/sitting", "dataset*.csv")
files = glob.glob(files)
trainlinksitting = []
testlinksitting = []
for i in range(len(files)):
    a = files[i].split("\\")
    if a[-1][:-4] == "dataset1" or a[-1][:-4] == "dataset2" or a[-1][:-4] == "dataset3":
        testlinksitting.append(files[i])
    else:
        trainlinksitting.append(files[i])
trainDatasitting = pd.concat([pd.read_csv(f, skiprows=4,usecols=range(0,7)) for f in trainlinksitting], ignore_index=True)
testDatasitting = pd.concat([pd.read_csv(f, skiprows=4,usecols=range(0,7)) for f in testlinksitting], ignore_index=True)
trainDatasitting

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,42.0,0.0,21.00,0.00,15.00,1.00
1,250,42.0,0.0,21.00,0.00,18.00,0.00
2,500,42.0,0.0,20.75,0.43,17.75,0.43
3,750,42.0,0.0,20.25,0.43,18.25,1.09
4,1000,42.0,0.0,20.00,0.00,18.00,0.00
...,...,...,...,...,...,...,...
5754,118750,42.0,0.0,20.50,0.87,18.50,0.50
5755,119000,42.0,0.0,21.25,0.43,17.50,0.50
5756,119250,42.0,0.0,21.00,0.00,16.00,0.82
5757,119500,42.0,0.0,21.00,0.00,18.25,0.43
5758,119750,42.0,0.0,21.00,0.00,16.67,0.47

In [8]:
files = os.path.join("../data/AReM/standing", "dataset*.csv")
files = glob.glob(files)
trainlinkstanding = []
testlinkstanding = []
for i in range(len(files)):
    a = files[i].split("\\")
    if a[-1][:-4] == "dataset1" or a[-1][:-4] == "dataset2" or a[-1][:-4] == "dataset3":
        testlinkstanding.append(files[i])
    else:
        trainlinkstanding.append(files[i])
trainDatastanding = pd.concat([pd.read_csv(f, skiprows=4) for f in trainlinkstanding], ignore_index=True)
testDatastanding = pd.concat([pd.read_csv(f, skiprows=4) for f in testlinkstanding], ignore_index=True)
trainDatastanding

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,44.50,0.50,15.00,0.71,9.25,0.43
1,250,44.75,0.43,13.00,0.71,11.25,0.83
2,500,41.33,0.94,15.33,0.47,11.00,1.22
3,750,39.50,0.87,16.75,1.09,10.00,1.58
4,1000,39.25,0.43,15.75,2.49,15.25,2.17
...,...,...,...,...,...,...,...
5755,118750,44.50,0.50,18.75,0.83,5.25,1.79
5756,119000,44.50,0.50,19.33,0.47,6.00,0.82
5757,119250,44.50,0.50,19.25,0.83,7.25,1.30
5758,119500,44.50,0.50,19.00,0.71,8.00,0.71
5759,119750,44.67,0.47,18.00,0.00,9.00,0.00

In [9]:
files = os.path.join("../data/AReM/walking", "dataset*.csv")
files = glob.glob(files)
trainlinkwalking = []
testlinkwalking = []
for i in range(len(files)):
    a = files[i].split("\\")
    if a[-1][:-4] == "dataset1" or a[-1][:-4] == "dataset2" or a[-1][:-4] == "dataset3":
        testlinkwalking.append(files[i])
    else:
        trainlinkwalking.append(files[i])
trainDatawalking = pd.concat([pd.read_csv(f, skiprows=4,usecols=range(0,7)) for f in trainlinkwalking], ignore_index=True)
testDatawalking = pd.concat([pd.read_csv(f, skiprows=4,usecols=range(0,7)) for f in testlinkwalking], ignore_index=True)
trainDatawalking

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,35.75,7.05,16.00,3.16,14.75,3.90
1,250,39.00,3.00,21.00,1.00,17.00,5.79
2,500,31.00,6.20,15.75,0.83,22.00,1.00
3,750,42.75,3.34,17.25,2.17,19.25,3.03
4,1000,41.00,0.71,13.00,3.39,13.50,7.02
...,...,...,...,...,...,...,...
5755,118750,31.50,1.66,12.50,3.20,14.25,4.44
5756,119000,27.33,1.25,11.33,0.94,20.00,4.00
5757,119250,37.80,7.68,14.20,2.48,17.25,0.83
5758,119500,33.75,1.30,15.75,5.21,16.50,2.69
5759,119750,32.67,3.09,18.67,0.47,14.00,3.16

In [10]:
trainData = pd.concat([trainDatabending1, trainDatabending2, trainDatacycling, trainDatalying, trainDatasitting, trainDatastanding, trainDatawalking])
testData = pd.concat([testDatabending1, testDatabending2, testDatacycling, testDatalying, testDatasitting, testDatastanding, testDatawalking])

In [11]:
trainData

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,42.00,0.71,21.25,0.43,30.00,0.00
1,250,41.50,0.50,20.25,1.48,31.25,1.09
2,500,41.50,0.50,14.25,1.92,33.00,0.00
3,750,40.75,0.83,15.75,0.43,33.00,0.00
4,1000,40.00,0.71,20.00,2.74,32.75,0.43
...,...,...,...,...,...,...,...
5755,118750,31.50,1.66,12.50,3.20,14.25,4.44
5756,119000,27.33,1.25,11.33,0.94,20.00,4.00
5757,119250,37.80,7.68,14.20,2.48,17.25,0.83
5758,119500,33.75,1.30,15.75,5.21,16.50,2.69
5759,119750,32.67,3.09,18.67,0.47,14.00,3.16

In [12]:
testData

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,39.25,0.43,22.75,0.43,33.75,1.30
1,250,39.25,0.43,23.00,0.00,33.00,0.00
2,500,39.25,0.43,23.25,0.43,33.00,0.00
3,750,39.50,0.50,23.00,0.71,33.00,0.00
4,1000,39.50,0.50,24.00,0.00,33.00,0.00
...,...,...,...,...,...,...,...
1435,118750,36.00,2.45,17.00,5.10,20.50,0.87
1436,119000,34.33,1.89,15.00,2.45,17.00,2.12
1437,119250,33.00,7.35,14.60,3.14,13.00,5.70
1438,119500,31.67,1.25,11.00,6.16,19.25,2.17
1439,119750,30.75,10.21,11.75,1.09,18.50,3.20

In [13]:
trainDatalinks = trainlinkbending1 + trainlinkbending2 + trainlinkcycling + trainlinklying + trainlinksitting + trainlinkstanding + trainlinkwalking
testDatalinks = testlinkbending1 + testlinkbending2 + testlinkcycling + testlinklying + testlinksitting + testlinkstanding + testlinkwalking

### c) Feature Extraction Classification of time series usually needs extracting features from them. In this problem, we focus on time-domain features.
### i. Research what types of time-domain features are usually used in time series classification and list them (examples are minimum, maximum, mean, etc).
#### 1) Kurtosis
#### 2) Skewness
#### 3) Maximum value
#### 4) Minimum value
#### 5) Mean
#### 6) Range
#### 7) Standard deviation
#### 8) Autoregressive part of an estimated ARIMA model
#### 9) Moving average part of an estimated ARIMA model

### ii. Extract the time-domain features minimum, maximum, mean, median, standard deviation, first quartile, and third quartile for all of the 6 time series in each instance. You are free to normalize/standardize features or use them directly.2

In [14]:
def getfsData(links):
    featureDict = collections.defaultdict(list)
    sniffer = csv.Sniffer()
    def minMax(x):
        return pd.Series(index=['min','max', 'mean', 'std', 'median', 'firstq', 'thirdq'],data=[x.min(),x.max(), x.mean(), x.std(), x.median(), x.quantile(0.25), x.quantile(0.75)])
    for k in range(len(links)):
        fsData = pd.read_csv(links[k], skiprows=4, usecols=range(0,7))
        minmax = fsData.apply(minMax).T.values.tolist()
        for m in range(1,len(minmax)):
            featureDict['min'+str(m)].append(minmax[m][0])
            featureDict['max'+str(m)].append(minmax[m][1])
            featureDict['mean'+str(m)].append(minmax[m][2])
            featureDict['std'+str(m)].append(minmax[m][3])
            featureDict['median'+str(m)].append(minmax[m][4])
            featureDict['firstq'+str(m)].append(minmax[m][5])
            featureDict['thirdq'+str(m)].append(minmax[m][6])
        featureDict['label'].append(links[k].split("/")[-2])
    return featureDict

In [15]:
getfeatureDict = getfsData(dataLinks)
fsData = pd.DataFrame.from_dict(getfeatureDict, orient="index").T
fsData

,min1,max1,mean1,std1,median1,firstq1,thirdq1,min2,max2,mean2,...,firstq5,thirdq5,min6,max6,mean6,std6,median6,firstq6,thirdq6,label
0,37.25,45.0,40.624792,1.476967,40.5,39.25,42.0,0.0,1.3,0.358604,...,33.0,36.0,0.0,1.92,0.570583,0.582915,0.43,0.0,1.3,bending1
1,38.0,45.67,42.812812,1.43555,42.5,42.0,43.67,0.0,1.22,0.372438,...,32.0,34.5,0.0,3.11,0.571083,0.60101,0.43,0.0,1.3,bending1
2,35.0,47.4,43.9545,1.558835,44.33,43.0,45.0,0.0,1.7,0.42625,...,35.3625,36.5,0.0,1.79,0.493292,0.513506,0.43,0.0,0.94,bending1
3,33.0,47.75,42.179813,3.670666,43.5,39.15,45.0,0.0,3.0,0.696042,...,30.4575,36.33,0.0,2.18,0.613521,0.524317,0.5,0.0,1.0,bending1
4,33.0,45.75,41.678063,2.24349,41.75,41.33,42.75,0.0,2.83,0.535979,...,28.4575,31.25,0.0,1.79,0.383292,0.389164,0.43,0.0,0.5,bending1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,20.75,46.25,34.763333,4.742208,35.29,31.67,38.25,0.0,12.68,4.223792,...,14.25,18.33,0.0,9.39,3.288271,1.647528,3.27,2.05,4.305,walking
84,21.5,51.0,34.935813,4.645944,35.5,32.0,38.0625,0.0,12.21,4.11575,...,14.2375,18.25,0.0,10.21,3.280021,1.700918,3.015,2.12,4.5,walking
85,18.33,47.67,34.333042,4.94877,34.75,31.25,38.0,0.0,12.48,4.396958,...,13.75,18.0,0.0,8.01,3.261583,1.61729,2.98,2.05,4.32,walking
86,18.33,45.75,34.599875,4.73179,35.125,31.5,38.0,0.0,15.37,4.398833,...,14.0,18.25,0.0,8.86,3.289542,1.68017,3.015,2.12,4.26,walking
87,15.5,43.67,34.225875,4.441798,34.75,31.25,37.25,0.0,17.24,4.3545,...,14.33,18.25,0.0,9.42,3.479542,1.761146,3.27,2.24,4.5375,walking

### iii. Estimate the standard deviation of each of the time-domain features you extracted from the data. Then, use Python's bootstrapped or any other method to build a 90% bootsrap confidence interval for the standard deviation of each feature.

In [16]:
stdData = fsData.iloc[:,:-1]
stdData = pd.DataFrame(stdData.std(),columns=['STD'])
stdData

              STD
min1     9.569975
max1     4.394362
mean1    5.335718
std1     1.772153
median1  5.440054
firstq1  6.153590
thirdq1  5.138925
min2     0.000000
max2     5.062729
mean2    1.574164
std2     0.884105
median2  1.412244
firstq2  0.946386
thirdq2  2.125266
min3     2.956462
max3     4.875137
mean3    4.008380
std3     0.946710
median3  4.036396
firstq3  4.220658
thirdq3  4.171628
min4     0.000000
max4     2.183625
mean4    1.166114
std4     0.458242
median4  1.145586
firstq4  0.843620
thirdq4  1.552504
min5     6.124001
max5     5.741238
mean5    5.675593
std5     1.024898
median5  5.813782
firstq5  6.096465
thirdq5  5.531720
min6     0.045838
max6     2.518921
mean6    1.154812
std6     0.517617
median6  1.086474
firstq6  0.758584
thirdq6  1.523599

In [17]:
# https://towardsdatascience.com/calculating-confidence-interval-with-bootstrapping-872c657c058d
operatedData = []
def func(x):
    return np.std(x, ddof=1)
def percentile(x):
    return (np.percentile(x, 5), np.percentile(x, 95))
for i in range(1000):
    dataSample = resample(fsData.iloc[:,:-1], n_samples=88)
    operatedData.append(dataSample.apply(func))
stdOperatedData = pd.DataFrame(operatedData, columns=list(fsData.iloc[:,:-1].columns))
defineInterval = stdOperatedData.apply(percentile)
percentileData = pd.concat([stdData, defineInterval.T], axis=1)
percentileData.columns = ['STD', 'Lower percentile', 'Higher percentile']
percentileData

              STD  Lower percentile  Higher percentile
min1     9.569975          8.276801          10.795184
max1     4.394362          3.410728           5.348283
mean1    5.335718          4.678416           5.875252
std1     1.772153          1.566456           1.954037
median1  5.440054          4.759382           6.011365
firstq1  6.153590          5.535664           6.666339
thirdq1  5.138925          4.330864           5.835468
min2     0.000000          0.000000           0.000000
max2     5.062729          4.611682           5.385851
mean2    1.574164          1.395176           1.706561
std2     0.884105          0.802511           0.940340
median2  1.412244          1.242968           1.544332
firstq2  0.946386          0.831703           1.037218
thirdq2  2.125266          1.893410           2.299117
min3     2.956462          2.757748           3.099934
max3     4.875137          4.186867           5.442913
mean3    4.008380          3.439027           4.474751
std3     0.946710          0.754695           1.113836
median3  4.036396          3.454728           4.527753
firstq3  4.220658          3.649000           4.699209
thirdq3  4.171628          3.542867           4.681883
min4     0.000000          0.000000           0.000000
max4     2.183625          1.963218           2.367372
mean4    1.166114          1.074892           1.221963
std4     0.458242          0.421202           0.485669
median4  1.145586          1.059981           1.201467
firstq4  0.843620          0.775369           0.892754
thirdq4  1.552504          1.430843           1.625430
min5     6.124001          4.445251           7.489475
max5     5.741238          4.737137           6.564927
mean5    5.675593          4.504071           6.721651
std5     1.024898          0.818466           1.214728
median5  5.813782          4.617366           6.887361
firstq5  6.096465          4.852362           7.194374
thirdq5  5.531720          4.419590           6.540326
min6     0.045838          0.000000           0.078476
max6     2.518921          2.246201           2.762803
mean6    1.154812          1.062625           1.214366
std6     0.517617          0.478196           0.543734
median6  1.086474          0.996024           1.147956
firstq6  0.758584          0.691499           0.806079
thirdq6  1.523599          1.403858           1.599483

### iv. Use your judgement to select the three most important time-domain features (one option may be min, mean, and max).

1) Median
2) Standard Deviation
3) Mode

#### 2. ISLR 3.7.4

#### a) Anyway if we don't consider the true relationship between X and Y, the training mean squared error decreases monotonically, which is equal to the product of the training RSS and the number of observations n, due to flexibity of model increase. Thus because of this training RSS for the cubic regression will be lower.

#### b) If we use test rather than training RSS, then linear regression will have lower test RSS compare to cubic regression. As cubic regression will have an overfit which will cause it to have more error.

#### c) The answer would be same as (a) cause anyway if we don't consider the true relationship between X and Y the cubic regression will have lower training RSS compare to linear regression as the training mean squared error decreases monotonically, which is equal to the product of the training RSS and the number of observations n, due to flexibity of model increase.

#### d) Due to insufficient data it is difficult to say which regression will be lower or higher, as we do not know true distribution also we cannot compare the values of test RSS of both the regression.